---
subject: {{data.position_title}} Position
author: {{data.author}}
city: {{data.author_city}}
from:
- {{data.author_email}}
- {{data.author_phone}}
- {{data.author_city}}, {{data.author_state}}
to:
- {{data.company}}
- {{data.company_address}}
- {{data.company_city}}, {{data.company_state}} {{data.company_zip}}
- {{data.company_country}}

# Settings
mainfont: {{data.font}}
altfont: {{data.alt_font}}
monofont: {{data.mono_font}}
lang: {{data.language}}
fontsize: {{data.font_size}}
geometry: {{data.geometry}}
# letterhead: true
# customdate: YYYY-MM-DD
---

Dear {{data.company}},

I am writing to express my interest in the **{{data.position_title}}** position at {{data.company}}. With over 20 years of comprehensive experience in software engineering and distributed systems architecture, I believe I could bring a unique perspective and extensive technical proficiency to your team.

My interest in {{data.company}} stems from its commitment to innovation and forward-thinking methodologies. Your focus on **{{data.company_focus}}** resonates with my professional ethos and makes me excited about the potential of contributing to your team.

Thank you for considering my application. I am eager to discuss how my extensive skills and experience align with your needs and can contribute to {{data.company}}. Please feel free to contact me at your earliest convenience to arrange a conversation.

Sincerely,