---
subject: {{data.position_title}} Position
author: {{data.author}}
city: {{data.author_city}}
from:
- {{data.author_email}}
- {{data.author_phone}}
- {{data.author_city}}, {{data.author_state}}
to:
- {{data.company}}
- {{data.company_address}}
- {{data.company_city}}, {{data.company_state}} {{data.company_zip}}

# Settings
mainfont: {{data.font}}
altfont: {{data.alt_font}}
monofont: {{data.mono_font}}
lang: {{data.language}}
fontsize: {{data.font_size}}
geometry: {{data.geometry}}
# letterhead: true
# customdate: YYYY-MM-DD
---

Dear {{data.company}},

I am writing to express my interest in the **{{data.position_title}}** position at {{data.company}}. With over 20 years of comprehensive experience in software engineering and distributed systems architecture, I believe I could bring a unique perspective and extensive technical proficiency to your team.

My career has allowed me to become highly proficient in a variety of languages including Java (15 years), Kotlin (5 years for server-side), Python, Ruby/JRuby, Rust (3 years), and JavaScript/TypeScript. 

I am well-versed in the development and design of APIs using the OpenAPI specification, and used AWS Kinesis, AWS SQS, Apache Kafka, NATS, and RabbitMQ for messaging systems. 

I have a deep understanding of cloud computing, having worked extensively with AWS. I have experience with serverless architectures like AWS Lambda, and have worked with service mesh technologies such as Envoy and Istio.

In terms of databases, I have a rich background in AWS DynamoDB, MySQL, PostgreSQL, and Redis. I have utilized Docker for containerization, and have employed Kubernetes, including AWS EKS and AWS ECS Fargate container orchestration. 

My interest in {{data.company}} stems from its commitment to innovation and forward-thinking methodologies. Your focus on **{{data.company_focus}}** resonates with my professional ethos and makes me excited about the potential of contributing to your team.

Thank you for considering my application. I am eager to discuss how my extensive skills and experience align with your needs and can contribute to {{data.company}}. Please feel free to contact me at your earliest convenience to arrange a conversation.

Sincerely,